version: '3.8'
services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: chronos_db
    restart: always
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=chronos
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: chronos_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  timescale_data:
